PORT=8000

# Konfigurasi Database MySQL aaPanel (Location: Localhost)
# Karena menggunakan network_mode host, container langsung mengakses 127.0.0.1
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=bsb_playhub
DB_USERNAME=bsb_playhub
DB_PASSWORD=salin_password_dari_menu_database_aapanel

# JWT Token Secret
JWT_SECRET=rahasia_jwt_playhub_2026_super_secure_key
JWT_TTL=480
